* {
    box-sizing: border-box;
}

.pyro > .before,
.pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow:
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff;
    -moz-animation:
        1s bang ease-out infinite backwards,
        1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    -webkit-animation:
        1s bang ease-out infinite backwards,
        1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    -o-animation:
        1s bang ease-out infinite backwards,
        1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    -ms-animation:
        1s bang ease-out infinite backwards,
        1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    animation:
        1s bang ease-out infinite backwards,
        1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
}

.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    to {
        box-shadow:
            -28px -97.6666666667px #ff00fb,
            85px 4.3333333333px #ff00f7,
            86px -172.6666666667px #ff00cc,
            -157px 7.3333333333px #ff7b00,
            73px 72.3333333333px #3c00ff,
            -216px -219.6666666667px #001eff,
            -185px -308.6666666667px #00ff1a,
            52px -11.6666666667px #00aaff,
            106px -115.6666666667px #00ff73,
            39px 30.3333333333px #ffa200,
            -221px -386.6666666667px #bbff00,
            91px -185.6666666667px #7700ff,
            -62px -75.6666666667px #002fff,
            149px -104.6666666667px #00ffa2,
            1px -49.6666666667px #3cff00,
            250px -16.6666666667px #0055ff,
            50px -81.6666666667px #c4ff00,
            -67px 81.3333333333px #0900ff,
            -2px -412.6666666667px #09ff00,
            26px -283.6666666667px #00ffee,
            -89px -203.6666666667px #00ffd9,
            -6px 47.3333333333px #3700ff,
            37px -146.6666666667px #1500ff,
            -227px -255.6666666667px #f200ff,
            152px 32.3333333333px #ff00f2,
            246px -65.6666666667px #ff5100,
            203px -385.6666666667px #00d5ff,
            -110px -34.6666666667px #ff9900,
            -237px 16.3333333333px #ff0073,
            -176px -298.6666666667px #84ff00,
            -90px -393.6666666667px #00ff04,
            -17px -94.6666666667px #0055ff,
            61px -328.6666666667px #aeff00,
            -99px -266.6666666667px #ea00ff,
            -170px 52.3333333333px #ccff00,
            -236px -406.6666666667px #001eff,
            208px -123.6666666667px #8c00ff,
            45px -369.6666666667px #6600ff,
            -155px -388.6666666667px #dd00ff,
            228px -94.6666666667px #ff00b3,
            -206px -1.6666666667px #fff200,
            119px -273.6666666667px #ff0073,
            -98px 9.3333333333px #ff4000,
            -14px -139.6666666667px #ff0022,
            176px -237.6666666667px #00ffd5,
            -74px -112.6666666667px #00ffdd,
            -203px 62.3333333333px #a600ff,
            30px 35.3333333333px #1eff00,
            185px -79.6666666667px #001eff,
            169px -56.6666666667px #ea00ff,
            6px -81.6666666667px #001eff;
    }
}
@-moz-keyframes bang {
    to {
        box-shadow:
            -28px -97.6666666667px #ff00fb,
            85px 4.3333333333px #ff00f7,
            86px -172.6666666667px #ff00cc,
            -157px 7.3333333333px #ff7b00,
            73px 72.3333333333px #3c00ff,
            -216px -219.6666666667px #001eff,
            -185px -308.6666666667px #00ff1a,
            52px -11.6666666667px #00aaff,
            106px -115.6666666667px #00ff73,
            39px 30.3333333333px #ffa200,
            -221px -386.6666666667px #bbff00,
            91px -185.6666666667px #7700ff,
            -62px -75.6666666667px #002fff,
            149px -104.6666666667px #00ffa2,
            1px -49.6666666667px #3cff00,
            250px -16.6666666667px #0055ff,
            50px -81.6666666667px #c4ff00,
            -67px 81.3333333333px #0900ff,
            -2px -412.6666666667px #09ff00,
            26px -283.6666666667px #00ffee,
            -89px -203.6666666667px #00ffd9,
            -6px 47.3333333333px #3700ff,
            37px -146.6666666667px #1500ff,
            -227px -255.6666666667px #f200ff,
            152px 32.3333333333px #ff00f2,
            246px -65.6666666667px #ff5100,
            203px -385.6666666667px #00d5ff,
            -110px -34.6666666667px #ff9900,
            -237px 16.3333333333px #ff0073,
            -176px -298.6666666667px #84ff00,
            -90px -393.6666666667px #00ff04,
            -17px -94.6666666667px #0055ff,
            61px -328.6666666667px #aeff00,
            -99px -266.6666666667px #ea00ff,
            -170px 52.3333333333px #ccff00,
            -236px -406.6666666667px #001eff,
            208px -123.6666666667px #8c00ff,
            45px -369.6666666667px #6600ff,
            -155px -388.6666666667px #dd00ff,
            228px -94.6666666667px #ff00b3,
            -206px -1.6666666667px #fff200,
            119px -273.6666666667px #ff0073,
            -98px 9.3333333333px #ff4000,
            -14px -139.6666666667px #ff0022,
            176px -237.6666666667px #00ffd5,
            -74px -112.6666666667px #00ffdd,
            -203px 62.3333333333px #a600ff,
            30px 35.3333333333px #1eff00,
            185px -79.6666666667px #001eff,
            169px -56.6666666667px #ea00ff,
            6px -81.6666666667px #001eff;
    }
}
@-o-keyframes bang {
    to {
        box-shadow:
            -28px -97.6666666667px #ff00fb,
            85px 4.3333333333px #ff00f7,
            86px -172.6666666667px #ff00cc,
            -157px 7.3333333333px #ff7b00,
            73px 72.3333333333px #3c00ff,
            -216px -219.6666666667px #001eff,
            -185px -308.6666666667px #00ff1a,
            52px -11.6666666667px #00aaff,
            106px -115.6666666667px #00ff73,
            39px 30.3333333333px #ffa200,
            -221px -386.6666666667px #bbff00,
            91px -185.6666666667px #7700ff,
            -62px -75.6666666667px #002fff,
            149px -104.6666666667px #00ffa2,
            1px -49.6666666667px #3cff00,
            250px -16.6666666667px #0055ff,
            50px -81.6666666667px #c4ff00,
            -67px 81.3333333333px #0900ff,
            -2px -412.6666666667px #09ff00,
            26px -283.6666666667px #00ffee,
            -89px -203.6666666667px #00ffd9,
            -6px 47.3333333333px #3700ff,
            37px -146.6666666667px #1500ff,
            -227px -255.6666666667px #f200ff,
            152px 32.3333333333px #ff00f2,
            246px -65.6666666667px #ff5100,
            203px -385.6666666667px #00d5ff,
            -110px -34.6666666667px #ff9900,
            -237px 16.3333333333px #ff0073,
            -176px -298.6666666667px #84ff00,
            -90px -393.6666666667px #00ff04,
            -17px -94.6666666667px #0055ff,
            61px -328.6666666667px #aeff00,
            -99px -266.6666666667px #ea00ff,
            -170px 52.3333333333px #ccff00,
            -236px -406.6666666667px #001eff,
            208px -123.6666666667px #8c00ff,
            45px -369.6666666667px #6600ff,
            -155px -388.6666666667px #dd00ff,
            228px -94.6666666667px #ff00b3,
            -206px -1.6666666667px #fff200,
            119px -273.6666666667px #ff0073,
            -98px 9.3333333333px #ff4000,
            -14px -139.6666666667px #ff0022,
            176px -237.6666666667px #00ffd5,
            -74px -112.6666666667px #00ffdd,
            -203px 62.3333333333px #a600ff,
            30px 35.3333333333px #1eff00,
            185px -79.6666666667px #001eff,
            169px -56.6666666667px #ea00ff,
            6px -81.6666666667px #001eff;
    }
}
@-ms-keyframes bang {
    to {
        box-shadow:
            -28px -97.6666666667px #ff00fb,
            85px 4.3333333333px #ff00f7,
            86px -172.6666666667px #ff00cc,
            -157px 7.3333333333px #ff7b00,
            73px 72.3333333333px #3c00ff,
            -216px -219.6666666667px #001eff,
            -185px -308.6666666667px #00ff1a,
            52px -11.6666666667px #00aaff,
            106px -115.6666666667px #00ff73,
            39px 30.3333333333px #ffa200,
            -221px -386.6666666667px #bbff00,
            91px -185.6666666667px #7700ff,
            -62px -75.6666666667px #002fff,
            149px -104.6666666667px #00ffa2,
            1px -49.6666666667px #3cff00,
            250px -16.6666666667px #0055ff,
            50px -81.6666666667px #c4ff00,
            -67px 81.3333333333px #0900ff,
            -2px -412.6666666667px #09ff00,
            26px -283.6666666667px #00ffee,
            -89px -203.6666666667px #00ffd9,
            -6px 47.3333333333px #3700ff,
            37px -146.6666666667px #1500ff,
            -227px -255.6666666667px #f200ff,
            152px 32.3333333333px #ff00f2,
            246px -65.6666666667px #ff5100,
            203px -385.6666666667px #00d5ff,
            -110px -34.6666666667px #ff9900,
            -237px 16.3333333333px #ff0073,
            -176px -298.6666666667px #84ff00,
            -90px -393.6666666667px #00ff04,
            -17px -94.6666666667px #0055ff,
            61px -328.6666666667px #aeff00,
            -99px -266.6666666667px #ea00ff,
            -170px 52.3333333333px #ccff00,
            -236px -406.6666666667px #001eff,
            208px -123.6666666667px #8c00ff,
            45px -369.6666666667px #6600ff,
            -155px -388.6666666667px #dd00ff,
            228px -94.6666666667px #ff00b3,
            -206px -1.6666666667px #fff200,
            119px -273.6666666667px #ff0073,
            -98px 9.3333333333px #ff4000,
            -14px -139.6666666667px #ff0022,
            176px -237.6666666667px #00ffd5,
            -74px -112.6666666667px #00ffdd,
            -203px 62.3333333333px #a600ff,
            30px 35.3333333333px #1eff00,
            185px -79.6666666667px #001eff,
            169px -56.6666666667px #ea00ff,
            6px -81.6666666667px #001eff;
    }
}
@keyframes bang {
    to {
        box-shadow:
            -28px -97.6666666667px #ff00fb,
            85px 4.3333333333px #ff00f7,
            86px -172.6666666667px #ff00cc,
            -157px 7.3333333333px #ff7b00,
            73px 72.3333333333px #3c00ff,
            -216px -219.6666666667px #001eff,
            -185px -308.6666666667px #00ff1a,
            52px -11.6666666667px #00aaff,
            106px -115.6666666667px #00ff73,
            39px 30.3333333333px #ffa200,
            -221px -386.6666666667px #bbff00,
            91px -185.6666666667px #7700ff,
            -62px -75.6666666667px #002fff,
            149px -104.6666666667px #00ffa2,
            1px -49.6666666667px #3cff00,
            250px -16.6666666667px #0055ff,
            50px -81.6666666667px #c4ff00,
            -67px 81.3333333333px #0900ff,
            -2px -412.6666666667px #09ff00,
            26px -283.6666666667px #00ffee,
            -89px -203.6666666667px #00ffd9,
            -6px 47.3333333333px #3700ff,
            37px -146.6666666667px #1500ff,
            -227px -255.6666666667px #f200ff,
            152px 32.3333333333px #ff00f2,
            246px -65.6666666667px #ff5100,
            203px -385.6666666667px #00d5ff,
            -110px -34.6666666667px #ff9900,
            -237px 16.3333333333px #ff0073,
            -176px -298.6666666667px #84ff00,
            -90px -393.6666666667px #00ff04,
            -17px -94.6666666667px #0055ff,
            61px -328.6666666667px #aeff00,
            -99px -266.6666666667px #ea00ff,
            -170px 52.3333333333px #ccff00,
            -236px -406.6666666667px #001eff,
            208px -123.6666666667px #8c00ff,
            45px -369.6666666667px #6600ff,
            -155px -388.6666666667px #dd00ff,
            228px -94.6666666667px #ff00b3,
            -206px -1.6666666667px #fff200,
            119px -273.6666666667px #ff0073,
            -98px 9.3333333333px #ff4000,
            -14px -139.6666666667px #ff0022,
            176px -237.6666666667px #00ffd5,
            -74px -112.6666666667px #00ffdd,
            -203px 62.3333333333px #a600ff,
            30px 35.3333333333px #1eff00,
            185px -79.6666666667px #001eff,
            169px -56.6666666667px #ea00ff,
            6px -81.6666666667px #001eff;
    }
}
@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-webkit-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-moz-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-o-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-ms-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
